<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-EN" lang="en-EN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<link href="/css/trd/tab.css" rel="stylesheet" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.tab.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Saira:wght@100;600;700&display=swap" rel="stylesheet">

</head>

<body>
<div id="content">
<ul id="tab">
<li class="active"><a href="live_sp" target="detail">Live</a></li>
<li><a href="http://www.racelive.jp/trd/result2?mid=1&raceid=2025010" target="detail">9/2(Day1)</a></li>
<li><a href="http://www.racelive.jp/trd/result2?mid=1&raceid=2025020" target="detail">9/2(Day2)</a></li>
<li><a href="http://www.racelive.jp/trd/result2?mid=1&raceid=2025030" target="detail">9/2(Day3)</a></li>
<li><a href="http://www.racelive.jp/trd/result2?mid=1&raceid=2025040" target="detail">9/2(Day4)</a></li>


<!--
<li><a href="http://www.racelive.jp/trd/result2?mid=1&raceid=2024060" target="detail">10/9(Day2)</a></li>
<li><a href="http://www.racelive.jp/trd/result2?mid=1&raceid=2024050" target="detail">10/1(Day1)</a></li>
<li><a href="http://www.racelive.jp/trd/result2?mid=1&raceid=2024010" target="detail">8/6(Day1)</a></li>
<li><a href="http://www.racelive.jp/trd/result2?mid=1&raceid=2024020" target="detail">8/7(Day2)</a></li>
<li><a href="http://www.racelive.jp/trd/result2?mid=1&raceid=2024030" target="detail">8/8(Day3)</a></li>
<li><a href="http://www.racelive.jp/trd/result2?mid=1&raceid=2024040" target="detail">8/9(Day4)</a></li>
-->
</ul>
</div>
</body>
</html>
