<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-EN" lang="en-EN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TRD Timing Monitor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/jquery/jquery.mixitup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/trd/live.css" type="text/css" />
    <link rel="stylesheet" href="/css/trd/live2.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Saira:wght@100;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
</head>
<body>
	<div id="liveTrack">
      <div class='trackposition'>
        <div class="course_fsw">
          <iframe id="track" name="track" width="900" height="800" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/monitor/camera_track_fsw"></iframe>
        </div>
      </div>
      <div class='msgdescr' style="position:absolute;bottom:-260px;left:-230px;">
	    <p style="font-size: 14px;">When you click the [No] location will be displayed.</p>
	  </div>
	  <div class='img' style="position:absolute;top:0px;left:250px;">
	    <img id="weather" src='/images/trd/dummy.gif' width="64">
	  </div>
	  <div class='tempdescr' style="position:absolute;top:0px;left:330px;">
	    <p id="condition"></p>
	  </div>
      <div class='telopdescr' style="position:absolute;bottom:130px;left:100px;">
        <p id="telop"></p>
      </div>
	  <div class='sector' style="position:absolute;bottom:-510px;left:-255px;">
				<table style="table-layout: fixed;font-size: 23px;" border="0">
				    <tr><td align="right">Fastest&nbsp;</td><td id="fastno" align="right" width="30"></td><td id="fastname" align="left" width="130"></td><td id="fasttime" align="right"></td></tr>
				    <tr><td align="right">Sec1Best&nbsp;</td><td id="sec1no" align="right" width="30"></td><td id="sec1name" align="left" width="130"></td><td id="sec1time" align="right"></td></tr>
				    <tr><td align="right">Sec2Best&nbsp;</td><td id="sec2no" align="right" width="30"></td><td id="sec2name" align="left" width="130"></td><td id="sec2time" align="right"></td></tr>
				    <tr><td align="right">Sec3Best&nbsp;</td><td id="sec3no" align="right" width="30"></td><td id="sec3name" align="left" width="130"></td><td id="sec3time" align="right"></td></tr>
				    <tr><td align="right">SpeedBest&nbsp;</td><td id="spdno" align="right" width="30"></td><td id="spdname" align="left" width="130"></td><td id="spdkm" align="right"></td></tr>
			    </table>
	  </div>
	</div>
    <div>
	    <ul id="livetitle"><li class="title"  style="position:absolute;top:0px;left:10px;"></li></ul>
	    <div id="classfilter" style="width: 800px; position:absolute;top:-15px;left:100px;"></div>
	    <ul id="livelaps"><li class="laps"></li></ul>
	    <img id="liveflag" src="/images/trd/green_off.png">
    </div>
    <div id="listtitle"></div>
    <div id="Container" class="container">
        <div id="ListArea" class="listarea">
          <div id="youtube" style="position:absolute;top:50px;left:20px;"></div>
          <div id="youtube2" style="position:absolute;top:425px;left:20px;"></div>
        </div>
    </div>

<script type="text/javascript">
    //var uri = "ws://superformula.racelive.jp:6001/" + "get"; //SF
    //var uri = "ws://superformula.racelive.jp:9001/" + "get"; //AIDCA汎用
    //var uri = "ws://www.racelive.jp:2001/" + "get"; //SFL
    //var uri = "ws://52.36.59.170:9101/" + "get"; //SUZUKA SOURTH
    //var uri = "ws://www.racelive.jp:8061/" + "get"; //TRD
    var uri = "ws://www.racelive.jp:7001/" + "get"; //Mizunami
    
    var sector = "3";
    var speed = "ON";
    var circuit = "fsw";
    var lang = "JP";
    var webSocket = null;
    var liveList = new Object();
    var dispclass = "all";
    var racemode = "B";

    var c = $.cookie("superformula");
    if( c != null ) {
        lang = c;
    } 
    var ua = navigator.userAgent;
    if (navigator.userAgent.indexOf('Android') > 0) {
        if (navigator.userAgent.indexOf('Chrome') < 0) {
            if ( parseFloat(navigator.userAgent.slice(ua.indexOf("Android")+8)) < 4.4 ) {
                alert("Android4.4以下の標準ブラウザは対応していません。Chromeブラウザを使用して下さい。");
            }
        }
    }

    $(function(){
        $(window).focus();
        $(window).bind("focus",function(){
            //location.reload();
        }).bind("blur",function(){
        }); 
    });
		
    function init() {
        try{
            webSocket = new WebSocket(uri);
            webSocket.onopen = onOpen;
            webSocket.onmessage = onMessage;
            webSocket.onclose = onClose;
            webSocket.onerror = onError;
        }catch( e ){}
    }

    function onOpen(event) {
    }

    function onMessage(event) {
        if (event && event.data) {
            try{
                var j = $.parseJSON( event.data );
                setData(j);
            } catch( e ) {
                console.log(e);
            }
        }
    }

    function onError(event) {
    }

    function onClose(event) {
        webSocket = null;
        setTimeout("init()", 10);
    }

    function setData(j) {
        if( j.type == '0' ) {
        } else if( j.type == 'R' ) {
        } else if( j.type == '1' || j.type == '2' || j.type == '3' || j.type == 'L' || j.type == 'K') { // Passing
        } else if( j.type == 'U' ) { // UPDATE
        } else if( j.type == 'I' ) { // PIT-IN
        } else if( j.type == 'O' ) { // PIT-OUT
        } else if( j.type == 'D' ) { // DRIVER
        } else if( j.type == 'U' ) { // UPDATE
        } else if( j.type == 'S' ) { // SCHEDULE
                racemode = j.RACE_TYPE;
                $(".title").text(j.CATEGORY + " " + j.DESCR_J);
                var classList = j.CLASS_LIST.split(",");
                var liClass = '<ul class="classmenu" style="position:absolute;top:5px;left:230px;"><li class="current" id="class_all"><a href="javaScript:setFilter(\'all\');" data-hover="ALL">ALL</a></li>';
                for( i=0; i<classList.length; i++ ) {
                      liClass += '<li id="class_' + classList[i] + '"><a href="javaScript:setFilter(\'' + classList[i] + '\');" data-hover="' + classList[i] + '">' + classList[i] + '</a></li>';
                }
                liClass += '</ul>';

                $("#classfilter").html(liClass);
                setBestInfo(j);
        } else if( j.type == 'W' ) { // WEATHER
                $("#weather").attr("src","/images/trd/" + j.weather + ".png");
                $("#condition").text(j.condition);
        } else if( j.type == 'T' ) { // TELOP
                //$("#telop").text(j.msg);
                $("#telop").text("TELOP TEST AAAAAAAAAAAAAAAAAAa");
        } else if( j.type == 'F' ) { // HARTBEAT
            if( racemode == "B" ) {
                if( j.flag == "F" ) {
                    $(".laps").text("FINISH");
                } else {
                    $(".laps").text(j.togo);
                }
            } else {
                if( j.flag == "F" ) {
                    $(".laps").text("FINISH");
                } else {
                    if( racemode == "R" ) {
                        $(".laps").text(j.togo+" LAPS TO GO");
                    } else {
                        $(".laps").text(j.togo);
                    }
                }
            }
            if( j.flag == "G" ) {
                $("#liveflag").attr("src","/images/trd/green_on.png");
            } else if( j.flag == "R" ) {
                $("#liveflag").attr("src","/images/trd/red_on.png");
            } else if( j.flag == "Y" ) {
                $("#liveflag").attr("src","/images/trd/yellow_on.png");
            } else if( j.flag == "F" ) {
                $("#liveflag").attr("src","/images/trd/cheker.png");
            } else {
                $("#liveflag").attr("src","/images/trd/green_off.png");
            }
        }
    }

    $(init);

    $(function () {
        videoid = "KkgAptWonR4?si=XTkl50oOJvHquBVN";
        $('#youtube').html("<iframe width=\"700\" height=\"350\" src=\"https://www.youtube.com/embed/" + videoid + "\" frameborder=\"0\" allow=\"autoplay; encrypted-media\" allowfullscreen></iframe>");
        videoid2 = "KkgAptWonR4?si=XTkl50oOJvHquBVN";
        $('#youtube2').html("<iframe width=\"700\" height=\"350\" src=\"https://www.youtube.com/embed/" + videoid2 + "\" frameborder=\"0\" allow=\"autoplay; encrypted-media\" allowfullscreen></iframe>");
        
    });
    
    function setFilter(category) {
        dispclass = category;
        if( category == "all" ) {
            $('#Container').mixItUp('filter', 'all');
        } else {
            $('#Container').mixItUp('filter', '.category-' + category);
        }

	    var list = $(".classmenu").children('li');

        for(var i=0; i < list.length; i++) {
            var liId = list.eq(i).attr('id').substr(6);
            if( liId == category ) {
                $('#class_' + liId).attr("class","current");
            } else {
                $('#class_' + liId).removeAttr("class");
            }
        }

    }

    function setBestInfo(data) {
		$("#fastno").text(data.LAP_BEST_NO);
		$("#fastname").text(data.LAP_BEST_DRIVER_J);
        $("#fasttime").text(bestDisp(false,data.LAP_BEST_TIME,data.LAP_BEST_LAPS));
        if( sector >= 1 ) {
    		$("#sec1no").text(data.S1_BEST_NO);
    		$("#sec1name").text(data.S1_BEST_DRIVER_J);
    		$("#sec1time").text(bestDisp(false,data.S1_BEST_TIME,data.S1_BEST_LAPS));
        }
        if( sector >= 2 ) {
    		$("#sec2no").text(data.S2_BEST_NO);
    		$("#sec2name").text(data.S2_BEST_DRIVER_J);
    		$("#sec2time").text(bestDisp(false,data.S2_BEST_TIME,data.S2_BEST_LAPS));
        }
        if( sector >= 3 ) {
    		$("#sec3no").text(data.S3_BEST_NO);
    		$("#sec3name").text(data.S3_BEST_DRIVER_J);
    		$("#sec3time").text(bestDisp(false,data.S3_BEST_TIME,data.S3_BEST_LAPS));
        }
        if( sector >= 4 ) {
    		$("#sec4no").text(data.S4_BEST_NO);
    		$("#sec4name").text(data.S4_BEST_DRIVER_J);
    		$("#sec4time").text(bestDisp(false,data.S4_BEST_TIME,data.S4_BEST_LAPS));
        }
        if( speed == 'ON' ) {
    		$("#spdno").text(data.SPD_BEST_NO);
    		$("#spdname").text(data.SPD_BEST_DRIVER_J);
    		$("#spdkm").text(bestDisp(true,data.SPD_BEST_KM,data.SPD_BEST_LAPS));
        }
    }
    
    function bestDisp(spd, time, laps) {
        if( laps.length == 0 ) {
            return "";
        } else {
            if( spd ) {
                return doubleToSpeed(time) + " (" + laps + ")";
            } else {
                return doubleToTime(time) + " (" + laps + ")";
            }
        }

    }

    function doubleToSpeed(sSpeed) {

        if( sSpeed.length == 0 ) {
            return "";
        }

        var dSpeed = +sSpeed;

        if( dSpeed <= 0 ) {
            return "";
        }
        return dSpeed.toFixed(2);
    }

    function doubleToTime(dTime) {

        if( dTime <= 0 ) {
            return "";
        }

        // HH
        var hh = 0;
        var mi = 0;
        var ss = 0;

        if( dTime > 3600 ) {
            hh = Math.floor(dTime / 3600);
        }

        // MI
        var m1 = dTime - (hh * 3600);
        if( m1 > 60 ) {
            mi = Math.floor(m1 / 60);
        }

        // SS
        ss = m1 - (mi * 60);

        if( hh > 0 ) {
            return hh + ":" + ("00"+mi).substr(-2) + ":" + ss.toFixed(3);
        } else if( mi > 0 ) {
            return mi + ":" + ("00"+ss.toFixed(3)).substr(-6);
        } else {
            return ("00"+ss.toFixed(3)).substr(-6);
        }

    }








</script>
</body>
</html>
