<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/js/login.js"></script>
    <link rel="stylesheet" href="/css/password_change.css" type="text/css" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
	<div class="container" id="container">
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>TIMING MONITOR</h1>
					<p>Suzuka Circuit Racing Course</p>
				</div>
			</div>
		</div>
		<div class="form-container log-in-container">
			<form  id ="change_submit" action="/user/passchange" method="post">
				<img src="../images/suzuka_login_logo.png" class="logo">
				<% if( typeof msg !== 'undefined' && msg.length > 0) { %>
            <div class="error-msg">
                <p>
               	 <i class="fas fa-exclamation-triangle"></i>
                    <%= msg %>
            	</p>
        	</div>
    		<% } %>
				<ul class="noBullet">
        		<li>
        		 <label for="username"></label>
            		<input type="text" class="inputFields" id="username" name="username" placeholder="Login ID" value="" oninput="return userNameValidation(this.value)" required/>
        	    </li>
        	    <li>
                <label for="password"></label>
                <input type="password" class="inputFields" id="password" name="old_password" placeholder="現在のPassword" value="" required/>
        	    </li>
				<li>
                <label for="password"></label>
                <input type="password" class="inputFields" id="new_password" name="new_password" placeholder="新しいPassword" value="" required/>
        	    </li>
				<li>
                <label for="password"></label>
                <input type="password" class="inputFields" id="check_password" name="check_password" placeholder="新しいPassword(再入力)" value="" required/>
				<div>
					<small id="error"></small>
				</div>
        	    </li>
        	    <li id="center-btn">
           		 <input type="submit" id="change" name="join" alt="Join" value="CHANGE">
				 <input type="button" id="back" name="back" alt="back" value="CANCEL">
				 </td>
       		    </li>
     		   </ul>     
			</form>
		</div>
		
	</div>
	
<script>

	const $form = document.getElementById('change_submit');
	const $error = document.getElementById('error');

	// 親要素(form)にイベントをつけると子要素のイベントが拾える
		$form.addEventListener('change', update);
		$form.addEventListener('input', update);

	function update(e) {
  		const type = e.target.type;
  		const validity = e.target.validity;
  
  	// フォームの子要素の取得
  		const $password = $form.elements['new_password'];  // $form[子要素のname属性]でもアクセスできる
  		const $passwordConfirm = $form.elements['check_password'];
  
  	// カスタムエラーを初期化
  		$passwordConfirm.setCustomValidity('');
  			if ($password.value !== $passwordConfirm.value) {
    // パスワードと新しいパスワードが一致しない場合、カスタムエラーをセットする
    	$passwordConfirm.setCustomValidity('パスワードが一致しません');
  			}
  	// エラーメッセージを更新
  		$error.innerHTML = $passwordConfirm.validationMessage;
	}


	history.pushState(null, null, null);
	console.log(' ');
$(window).on("popstate", function (event) {
    if (!event.originalEvent.state) {
        history.pushState(null, null, null);
        return;
    }
});	

	$("#back").click(function(){
		window.location.href = '/login/init';
	});
	
</script>

<style>
small {
  color: red;
}
</style>
	
	
</body>
</html>