<html>
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T6L30C6LF1"></script>
<link href="http://superformula.racelive.jp/app/pages/css/main.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://superformula.racelive.jp/app/pages/css/event.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-darkness/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link href="http://fonts.googleapis.com/css2?family=Saira:wght@100;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/trd/main.css" type="text/css" />
<link rel="icon" href="/images/trd/favicon.ico" type="image/x-icon"/>
<title>TRD Timing Monitor</title>
</head>
<body>
<!--<img class="bg" src="http://superformula.racelive.jp/app/pages/images/superformula/back.png" alt="" />-->
<div id="container">
<center>
<body>
<div id="content" style="background : #000;">
<table border="0">
<tr><td>
<iframe name="header" width="1600" height="50" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/monitor/header_sp"></iframe>
</tr></td>
<tr><td>
<iframe name="detail" width="1600" height="1400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/monitor/live_sp"></iframe>
</tr></td>
</table>
<div>
<div id="footer">
</div>



<script type="text/javascript">
$(function(){
        $(window).focus();
        $(window).bind("focus",function(){
            location.reload();
        }).bind("blur",function(){
        }); 
    });
</script>
</body>







</center>
</div>
</body>
</html>


