@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}

.header-table {
  margin: auto;
  min-width: 1000px;
  max-width: 100%;
  border-collapse:collapse;
}
.header-table th {
  height:50px;
  overflow: hidden;  
}


.detail-table {
    margin: 0 auto;
    width: 800px;
    display: block;  
  
}
.detail-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.detail-table td {
  border-spacing: 3px 0;
  border-top: none;
  background: #fff;
  color: #333;
  width: 300px;
  text-align: left;
}
.detail-table th {
  border-top: none;
  background: #63C4DA;
  color: #fff;
  width: 200px;
  height:30px;
  text-align:center;
}

.select-table {
    margin: 0 auto;
    width: 1000px;
    display: block;  
  
}
.select-table tr {
  background-color: #fff;
}
.select-table td {
  border-bottom: 1px solid #ddd;
  background: #fff;
  color: #333;
  text-align: left;
}
.select-table th {
  border-top: none;
  background: #63C4DA;
  color: #fff;
  width: 200px;
  height:30px;
  text-align:center;
}
@media screen and (min-width: 600px) {
  .select-table tr:hover {
    background-color: #d8e7f3;
  }
  .select-table td:before {
    display: none;
  }
  .select-table th,
  .select-table td {
    display: table-cell;
    padding: .5em .1em;
  }
  .select-table th:first-child,
  .select-table td:first-child {
    padding-left: 0;
  }
  .select-table th:last-child,
  .select-table td:last-child {
    padding-right: 0;
  }
  .select-table th,
  .select-table td {
    padding: 1em !important;
  }
}




.detail_header a {
	margin-left: 20px;
}

.rwd-table {
  margin: auto;
  min-width: 1000px;
  max-width: 100%;
  border-collapse: collapse;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  width:0px;
} 

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
  height: 20px;
}

.rwd-table tr:nth-child(odd) {
  background-color: #ebf3f9;
}

.rwd-table th {
  border-top: none;
  background: #63C4DA;
  color: #fff;
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
  overflow-y: scroll;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.list_body {
  display: block;
  overflow-y:scroll;
  height:500px;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .5em .1em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

body {
background: #fff;
}

h1 {
  text-align: right;
  font-size: 2.4em;
  color: #63C4DA;
}
.container {
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;          
  left: 0px;                    
  width: 100%;                /* 横幅100%　*/
  height: 1000px;
  background-color: #fff;
  color: #ff0;
  text-align: left;
  padding-top: 5px; 
  padding-left: 0px; 
  font-size: 14px;
  overflow-x: hidden;
}

h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}


.modal {
  position:absolute;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  display:none;
}
.overLay {
  position:absolute;
  top:0;
  left:0;
  background:rgba(200,200,200,0.6);
  width:100%;
  height:100vh;
  z-index:10;
}

@keyframes modal{
  0% {top:-100%}
  100% {top:50%}
}
@keyframes modalClose {
  0% {top:50%}
  100% {top:100%}
} 


.modal .detail_content {
  position:absolute;
  top:50%;
  left:50%;
  width: 100%;                /* 横幅100%　*/
  height: 660px;
  background-color: #fff;
  color: #ff0;
  text-align: left;
  border-top: 3px solid #63C4DA; 
  padding-top: 5px; 
  padding-left: 0px; 
  font-size: 14px;
  overflow-x: hidden;
  display: none;
  z-index:11;
  transform:translate(-50%,-50%);
}

.cp_iptxt {
	position: relative;
	width: 80%;
  display: inline-block;
}
.cp_iptxt input[type=text] {
	font: 12px/20px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0;
	/*
	padding: 0.3em;
	*/
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=text]:focus {
	border-color: #da3c41;
}
.cp_iptxt input[type=text] {
	padding-left: 40px;
}
.cp_iptxt i {
	position: absolute;
	top: 0px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt a {
	position: absolute;
	margin-left: 20px;
	top: 10px;
	width:40px;
}

.cp_iptxt input[type=text]:focus + i {
	color: #da3c41;
}



.detail_txt {
	position: relative;
	height: 30px;
	width: 100%;
}
.detail_label {
	position: relative;
	height: 30px;
	width: 100%;
}

.detail_txt input {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #333;
	border: none;
	border-bottom: 1px solid #1b2538;
	background: transparent;
}
.ef input:focus {
	border-bottom: 1px solid #da3c41;
	outline: none;
	color: #333;
}



.detail_radio {
	width: 100%;
	height: 30px;
	text-align: left;
}

.detail_radio ul {
    overflow: hidden;
	list-style: none;
	line-height: 20px;
	padding: 0;
}

.detail_radio li {
    float: left;
    list-style-type: none;
	line-height: 25px;
}

.detail_radio .list_item {
	padding: 0;
}
.detail_radio label {
	position: relative;
	margin: 0.5rem;
	cursor: pointer;
	color: #333;
}

.detail_radio .option-input {
	position: relative;
	margin: 0 1rem 0 0;
	cursor: pointer;
}
.detail_radio .option-input:before,
.detail_radio .option-input:after {
	position: absolute;
	z-index: 1;
	top: -0.125rem;
	left: -0.125rem;
	width: 1rem;
	height: 1rem;
	content: '';
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	border-radius: 50%;
	background: #ffffff;
}
.detail_radio .option-input:after {
	z-index: 0;
	top: -0.25rem;
	left: -0.25rem;
	width: 1.25rem;
	height: 1.25rem;
	background: #da3c41;
}
.detail_radio .option-input:checked:before {
	-webkit-transform: scale(0, 0);
	        transform: scale(0, 0);
	border-width: 0.625rem;
	border-color: #da3c41;
}


.search-button {
  display: inline-block;
  padding: 1.3em 1.8em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.detail-button {
  display: inline-block;
  padding: 0.8em 2.0em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.arrow-button {
  display: inline-block;
  padding: 0.8em 0.8em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.search-button .detail-button .arrow-button:hover {
  background: #67c5ff;
  color: white;
}










select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}





select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}







.header-select-table {
  /*
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  */
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;  
  color:#333;
  border-collapse: collapse;
}

.header-select-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
  height: 20px;
}

.header-select-table tr:nth-child(odd) {
  background-color: #ebf3f9;
}

.header-select-table th {
  border-top: none;
  background: #63C4DA;
  color: #fff;
  display: none;
}

.header-select-table td {
  display: block;
}

.header-select-table td:first-child {
  margin-top: .5em;
}

.header-select-table td:last-child {
  margin-bottom: .5em;
}

.header-select-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  display: inline-block;
  color: #000;
}

.header-select-table th, .header-select-table td {
  padding: .5em 1em;
}


@media screen and (max-width: 601px) {
  .header-select-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {

/*
  .header-select-table tr:hover {
    background-color: #e2ba5e;
  }
  */
  .header-select-table td:before {
    display: none;
  }
  .header-select-table th,
  .header-select-table td {
    display: table-cell;
    padding: .5em .1em;
  }
  .header-select-table th:first-child,
  .header-select-table td:first-child {
    padding-left: 0;
  }
  .header-select-table th:last-child,
  .header-select-table td:last-child {
    padding-right: 0;
  }
  .header-select-table th,
  .header-select-table td {
    padding: 1em !important;
  }
}







.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #325A8C;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.tab-switch:checked+.tab-label {
  background: #325A8C;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
 padding: 60px;
 // padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.tab-switch {
  display: none;
}
.tab-switch:checked+.tab-label:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #325a8c;
    border-width: 14px;
    margin-left: -14px;
}
.tab-switch:checked+.tab-label {
    background: #325A8C;
    position: relative;
}
/*
    Don't look at this last part. It's unnecessary. I was just playing with pixel gradients... Don't judge.
*/
/*
@media screen and (max-width: 601px) {
  .rwd-table tr {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
  }
  .rwd-table tr:nth-child(odd) {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
  }
}
*/
