@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.no_Class1  {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0px 40px;
  font-size: 19px;
  height: 41px;
  line-height: 40px!;
  background: #08e43f;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transition: .4s;
  width: 50px;
  }
.no_Class1:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px rgb(14, 13, 13);
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}
.no_Class1:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px #050505;
  z-index: 1;
  transition: .4s;
}
.no_Class2  {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0px 40px;
  font-size: 19px;
  height: 41px;
  line-height: 40px!;
  background: #f5f4ef;
  font-size: 20px;
  color: rgb(14, 13, 13);
  transition: .4s;
  width: 50px;
}
.no_Class2:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px rgb(14, 13, 13);
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}
.no_Class2:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px #050505;
  z-index: 1;
  transition: .4s;
}
.no_Class3  {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0px 40px;
  font-size: 19px;
  height: 41px;
  line-height: 40px!;
  background: #001aff;
  font-size: 20px;
  color: rgb(253, 252, 252, 0.979);
  transition: .4s;
  width: 50px;
}
.no_Class3:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px rgb(14, 13, 13);
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}
.no_Class3:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px #050505;
  z-index: 1;
  transition: .4s;
}
.no_Class4  {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0px 40px;
  font-size: 19px;
  height: 41px;
  line-height: 40px!;
  background: #f1b25f;
  font-size: 20px;
  color: rgb(14, 13, 13);
  transition: .4s;
  width: 50px;
}
.no_Class4:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px rgb(14, 13, 13);
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}
.no_Class4:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px #050505;
  z-index: 1;
  transition: .4s;
}
.no_Class5  {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0px 40px;
  font-size: 19px;
  height: 41px;
  line-height: 40px!;
  background: #f51010;
  font-size: 20px;
  color: rgb(253, 252, 252, 0.979);
  transition: .4s;
  width: 50px;
}
.no_Class5:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px rgb(14, 13, 13);
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}
.no_Class5:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px #050505;
  z-index: 1;
  transition: .4s;
}
.no_Class6  {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0px 40px;
  font-size: 19px;
  height: 41px;
  line-height: 40px!;
  background: #a200ff;
  font-size: 20px;
  color: rgb(253, 252, 252, 0.979);
  transition: .4s;
  width: 50px;
}
.no_Class6:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px rgb(14, 13, 13);
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}
.no_Class6:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px #050505;
  z-index: 1;
  transition: .4s;
}
.no_Class7  {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0px 40px;
  font-size: 19px;
  height: 41px;
  line-height: 40px!;
  background: #9b7f69;
  font-size: 20px;
  color: rgb(253, 252, 252, 0.979);
  transition: .4s;
  width: 50px;
}
.no_Class7:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px rgb(14, 13, 13);
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}
.no_Class7:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px #050505;
  z-index: 1;
  transition: .4s;
}
.no_Class8  {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0px 40px;
  font-size: 19px;
  height: 41px;
  line-height: 40px!;
  background: #ffea00;
  font-size: 20px;
  color: rgb(14, 13, 13);
  transition: .4s;
  width: 50px;
}
.no_Class8:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px rgb(14, 13, 13);
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}
.no_Class8:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px #050505;
  z-index: 1;
  transition: .4s;
}
.no_Class9  {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0px 40px;
  font-size: 19px;
  height: 41px;
  line-height: 40px!;
  background: #800000;
  font-size: 20px;
  color: rgb(253, 252, 252, 0.979);
  transition: .4s;
  width: 50px;
}
.no_Class9:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px rgb(14, 13, 13);
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}
.no_Class9:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px #050505;
  z-index: 1;
  transition: .4s;
}

table.table01 {
  margin-bottom: 30px;
  width: 64%; }
  table.table01 tr {
    position: relative;
    border-bottom: 0px solid #777;
    font-size: 1.5rem;
    font-weight: 300; 
    }
  table.table01 th, table.table01 td {
    color: #fff;
    padding: 1px 10px;
/*    text-align: left; }*/
    text-align: center; }
  table.table01 th {
    background-color: #000;
    border-top: 0px solid #777;
    border-bottom: 1px solid #63C4DA;;
    font-size: 1.3rem;
    font-weight: 300; }
  table.table01 td {
    position: relative;
    border-bottom: 1px solid #63C4DA;
    font-size: 1.5rem;
    font-weight: 300; }
    table.table01 td .cl {
      display: inline-block;
      padding: 0px 0 12px !important;
      font-size: 1.4rem;
      width: 70px; }
    table.table01 td .no {
      display: inline-block;
      padding: 6px 0 5px !important;
      font-size: 1.4rem;
      width: 70px;
      text-align: center;
      background-image: none;
      text-indent: 0;
      overflow: auto;
      font-weight: 1000; }
    table.table01 td .best-time {
      color: #e60012; }
    table.table01 td .fast-time {
      color: #aaff33; }
  table.table01 td.race_class {
    padding: 3px 10px; }

table.table-timings-top th:nth-child(6), table.table-timings-top td:nth-child(6) {
  border-right: 1px solid #777; }

table.table-sector th:nth-child(11), table.table-sector td:nth-child(11),
table.table-sector th:nth-child(13), table.table-sector td:nth-child(13),
table.table-sector th:nth-child(15), table.table-sector td:nth-child(15),
table.table-sector th:nth-child(17), table.table-sector td:nth-child(17),
table.table-sector th:nth-child(19), table.table-sector td:nth-child(19) {
  border-right: 1px solid #777; }

table.table-last10 th:nth-child(6), table.table-last10 th:nth-child(7) {
  border-right: 1px solid #777; }

table.table-last10 td:nth-child(6), table.table-last10 td:nth-child(7), table.table-last10 td:nth-child(8),
table.table-last10 td:nth-child(9), table.table-last10 td:nth-child(10), table.table-last10 td:nth-child(11),
table.table-last10 td:nth-child(12), table.table-last10 td:nth-child(13), table.table-last10 td:nth-child(14),
table.table-last10 td:nth-child(15), table.table-last10 td:nth-child(16) {
  border-right: 1px solid #777;
  min-width: 40px; }

table.table-stints th:nth-child(5), table.table-stints td:nth-child(5) {
  border-right: 1px solid #777; }

table.table-stints th:last-child, table.table-stints td:last-child {
  border-left: 1px solid #777; }


table.table-gaps th:not(:first-child), table.table-gaps td:not(:first-child) {
  text-align: center;
  font-size: 1.5rem; }

  table.table-gaps td span {
    font-size: 1.5rem; }
  table.table-gaps td i {
    position: absolute;
    width: 70px;
    top: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #222;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal; }

ul.grid_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  ul.grid_list li {
    position: relative;
    width: 200px;
    min-height: 330px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 7px 7px 7px -3px rgba(0, 0, 0, 0.9);
    background-color: #fff;
    background-image: url(../../img/grid_bg.png);
    background-repeat: repeat;
    background-position: left top;
    background-size: 100% auto;
    padding: 0;
    margin: 0 25px 25px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    ul.grid_list li .top {
      position: relative;
      padding: 15px 0 8px 70px;
      width: 100%;
      box-sizing: border-box;
      background-color: #fff;
      background-image: url(../../img/icon_neko.png);
      background-repeat: no-repeat;
      background-position: left 5px top 5px;
      background-size: 57px auto;
      text-align: right; }
      ul.grid_list li .top .car-no {
        position: absolute;
        left: 65px;
        top: 5px;
        width: 65px;
        padding: 13px 0 9px;
        text-align: center;
        font-size: 2.7rem;
        font-weight: 700;
        font-family: Helvetica;
        color: #000;
        border: 1px solid #000;
        background-color: #fff; }
      ul.grid_list li .top img {
        width: 50px;
        height: auto;
        padding-right: 5px;
        padding-bottom: 4px; }
    ul.grid_list li .img {
      line-height: 0; }
      ul.grid_list li .img img {
        width: 100%; }
    ul.grid_list li .img-logo {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center; }
      ul.grid_list li .img-logo img {
        width: auto; }
    ul.grid_list li .bottom {
      padding: 10px 10px 15px;
      border-radius: 0 0 6px 6px; }
      ul.grid_list li .bottom .box1 {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        ul.grid_list li .bottom .box1 i {
          display: block;
          color: #fff;
          text-align: left;
          font-size: 1.0rem;
          padding-bottom: 8px;
          font-family: Helvetica; }
        ul.grid_list li .bottom .box1 .laptime {
          position: relative;
          width: 60%;
          border-bottom: 2px solid #fff;
          text-align: center;
          font-size: 1.6rem;
          padding-bottom: 5px; }
        ul.grid_list li .bottom .box1 .position {
          position: relative;
          width: 30%;
          border-bottom: 2px solid #fff;
          text-align: right;
          font-size: 1.8rem;
          padding-bottom: 5px;
          padding-right: 10px; }
      ul.grid_list li .bottom .box2 {
        font-size: 1.8rem;
        padding-top: 10px;
        font-style: italic;
        font-weight: 600;
        font-family: Helvetica; }
        ul.grid_list li .bottom .box2 i {
          color: #fff;
          font-size: 1.0rem;
          padding-right: 5px;
          font-weight: normal; }
      ul.grid_list li .bottom .box3 {
        padding-top: 3px;
        line-height: 170%; }
    ul.grid_list li .time_box {
      position: relative;
      padding: 10px 10px 60px;
      border-radius: 0 0 6px 6px; }
      ul.grid_list li .time_box .box1 {
        position: relative;
        width: 100%;
        border-bottom: 2px solid #fff;
        text-align: right;
        font-size: 2.0rem;
        padding-bottom: 5px;
        padding-right: 10px;
        margin-bottom: 6px;
        box-sizing: border-box; }
        ul.grid_list li .time_box .box1 i {
          display: block;
          color: #fff;
          text-align: left;
          font-size: 1.0rem;
          padding-bottom: 8px;
          font-family: Helvetica; }
      ul.grid_list li .time_box .img {
        position: relative;
        text-align: center;
        bottom: 0px; }
        ul.grid_list li .time_box .img img {
          width: auto;
          height: 43px; }
  ul.grid_list .clicl_area {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; }
    ul.grid_list .clicl_area div {
      position: relative;
      width: 50%;
      cursor: pointer; }

ul.grid_list_l {
  -webkit-transform-origin: left top 0;
  -moz-transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  -o-transform-origin: left top 0;
  transform-origin: left top 0;
  transform: scale(1.2, 1.2); }

ul.grid_list_s {
  -webkit-transform-origin: left top 0;
  -moz-transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  -o-transform-origin: left top 0;
  transform-origin: left top 0;
  transform: scale(0.85, 0.85); }

/* content */

.wt03p {
  width: 3% !important; }


.className {
    width: 100%;
    margin: 0 auto;
    padding: 30px 30px;
    box-sizing: border-box;
    position: relative;
}
thead {
  display: block;
}
.listbody {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100px;
}









