@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
 {
   font-family: 'Open Sans', sans-serif;
 }

@font-face {
   	font-family: '7SegFont';
   		src: url(/font/DSEG7Modern-Bold.woff);
   		}

   		            html, body{
   		                            margin: 0;         /* 余白の削除 */
                padding: 0;        /* 余白の削除 */
                width:100%;
                height:100%;
                overscroll-behavior-y: none;
    overflow-x: hidden;
            }
            
body {
  overscroll-behavior-y: none;
  font-family: 'Open Sans', sans-serif;
}

.header, .monitor, .info, .msg1, .msg2, .footer {
  text-align: center;
}

.header {
  position: fixed;            /* フッターの固定 */
  top: 0px;                /* 位置(下0px) */
  left: 0px;                  /* 位置(左0px) */
  width: 3000px;                /* 横幅100%　*/
  height: 70px;
  background: #fff;
}


.header_item {
  float: left;
  margin: 0px 20px 0px 0px;
}

.monitor {
  padding : 70px 0px 360px 0px;
  width: 1000px;
  height: 400px;
  margin:auto;
  border-bottom: 1px solid #63C4DA; 
  background: #000;
  overflow-x: none;
 }

/* MONITOR */

.container{
  height: 400px;
  color: #fff;
  padding: 1px 1px 0;
  text-align: justify;
  font-size: 14px;
  background:#000;
  overflow-x: none;
  overflow-y: scroll;
  -webkit-backface-visibility: hidden;
}

.container:after{
content:'';
display:inline-block;
/* width:100%; */
}

.container .mix,
.container .gap {
  display: inline-block;
  width: 3000px;
  height:40px;

}

.container .mix{
  text-align: left;
  background: #111;
  margin-bottom: 1px;
  width: 3000px;
  display: none;
}

.container .mix:after{
  content: attr(text);
  color: white;
  font-size: 12px;
/*  display: inline-block; */
  vertical-align: middle;
  padding: 0px 0px;
  font-weight: 700;
  width: 3000px;
  height:40px;
}

.container .mix:before{
  content: '';
  display: inline-block;
}


.title_base {
  display: block;
  float: left;
  margin: 0px 0px 0px 0px;
}

.data_base {
  display: block;
  float: left;
  margin: 10px 10px 0px 0px;
}

.scroll-base {
  height: 40px;
  background: #000;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border-bottom: 1px solid #63C4DA;
  overflow-x: hidden;
}
.scroll_data_base {
  display: block;
  float: left;
  margin: 10px 10px 0px 0px;
  background-color: #000;
}

.msg1 {
  position: fixed;            /* ヘッダーの固定 */
  bottom: 40px;           /* 位置(下0px) */
  left: 0px;                    /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  height: 40px;
  background-color: #000;
  color: #ff0;
  text-align: left;
  border-top: 1px solid #63C4DA;
  padding-top: 5px;
  padding-left: 20px;
  font-size: 24px;
}
.msg2 {
  position: fixed;            /* ヘッダーの固定 */
  bottom: 0px;                   /* 位置(下0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  height: 40px;
  background-color: #000;
  color: #ff0;
  text-align: left;
  border-top: 1px solid #63C4DA;
  padding-top: 5px;
  padding-left: 20px;
  font-size: 24px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 160px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 40px;
  background: #5c9cd8;
  border-radius: 4px;
  cursor: pointer;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; height: 10px;
  top: 50%; right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%; left: 0; right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; right: 25px;
  width: 7px; height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 16px;
  font-weight: 600;
  color: #b5b5b5;
  line-height: 40px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}
