$color: #4cc48e;
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans';
  background: #fafafa;
}
.content {
  float: left;
}
.l-card {
  transition: 0.5s;
  overflow: hidden;
  width: 320px;
  padding: 0;
  margin: 24px auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
  &:hover {
    .thumbnail-wrapper{
      &:after {
        opacity: 1;
      }
    }
    .more-text {
      opacity: 1;
    }
  }
}
.l-thumbnail {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  .more-text {
    transition: 0.5s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 6px 12px 8px;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;   
    line-height: 1;
    letter-spacing: 1px;
    border: 1px solid #fff;
    opacity: 0;
  }
}
.thumbnail-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  &:after {
    transition: 0.5s;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
  }
  img {
    display: block;
    max-width: 100%;
  }
}
.thumbnail-over {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  
}
.text-content {
  padding: 16px;
  .title {
    margin: 0 0 12px 0;
    font-size: 20px;
    color: $color;
    font-weight: bold;
  }
  .caption {
    margin: 0 0 12px 0;
    font-size: 14px;
    color: #555;
    font-weight: lighter;
  }
}
.content-meta {
  overflow: hidden;
  width: 100%;
  font-size: 12px;
  .date {
    float: left;
    color: #aaa;
  }
  .like {
    display: inline-block;
    float: right;
    color: $color;
    .material-icons {
      vertical-align: middle;     
      font-size: 16px;
    }
  }
}