body {
  background-color: #212121;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.classmenu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;;
  font-weight: 900;
}

.classmenu * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.classmenu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.classmenu a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.classmenu a:before,
.classmenu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.classmenu a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.classmenu a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: rgba(255, 255, 255, 1.0);
  white-space: nowrap;
}
.classmenu li:hover a,
.classmenu .current a {
  transform: translateY(100%);
}

.gaparea {
    position:absolute;
	top: 340px;
	font-size:12px;
    font-weight:bold;
	color: #FFF;
    overflow:auto;
}
.gaparea table {
	border-collapse: collapse;
	margin: 0px  0px  0px;
	font-size: 1.1em;
	table-layout: fixed;
}

.gaparea th {
	padding: 0px 0px;
    background:#000;
	font-weight: bold;
	text-align: center;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	line-height: 1.2;
}

.gaparea td {
	padding: 0px 4px;
	border-bottom: 0px solid #ccc;
	vertical-align: middle;
	white-space: nowrap;
    height: 25px;
}

.gaparea td * {
}

.gaparea tr.alt td {
	background: #ecf6fc;
}

.gaparea tr:nth-child(even) {
    background:#000;
}
.gaparea tr:nth-child(odd) {
    background:#222;
}
.gaparea tr:hover{
    background-color:#444;
}

