body {
  background-color: #212121;
}

.container{
width: 1150px;
padding: 1px 1px 0;
text-align: justify;
font-size: 0.1px;
background:#444;
-webkit-backface-visibility: hidden;
}

.container:after{
content:'';
display:inline-block;
/* width:100%; */
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 1000px;
  height:40px;

}

.container .mix{
  text-align: left;
  background: #111;
  margin-bottom: 1px;
  width: 100%;
  display: none;
}

.container .mix:after{
  content: attr(text);
  color: white;
  font-size: 12px;
/*  display: inline-block; */
  vertical-align: middle;
  padding: 0px 0px;
  font-weight: 700;
  width: 1000px;
  height:40px;
}

.container .mix:before{
  content: '';
  display: inline-block;
}

.container .mix:hover{
    background-color:#444;
}

.listtable table {
	border-collapse: collapse;
    border: 0px;
	margin: 0px  0px  0px;
	font-size: 1.1em;
	table-layout: fixed;
}

.listtable th {
	padding: 0px 4px;
	color: #ffa;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #ff5;
}
.listtable tr {
    height:36px;
    cursor: hand;
    cursor:pointer;

}

.listtable td {
	padding: 0px 4px;
	border-bottom: 0px solid #ccc;
	vertical-align: middle;
	white-space: nowrap;
    font-weight: bold;
}


.listtable {
  table-layout: fixed;
  font-size: 12px;
  color: white;
  vertical-align: middle;
}

.title_pos {
  text-align:center;
  text-decoration: underline;
  width: 30px;
  font-weigth: bold;
}
.title_raceclass {
  text-align:center;
  text-decoration: underline;
  width: 60px;
  font-weigth: bold;
}
.title_no {
  text-align:center;
  text-decoration: underline;
  width: 30px;
  font-weigth: bold;
}

.posup {
  text-align:center;
  width: 30px;
  font-size: 11px;
  font-weigth: bold;
background-image: url("../images/dummy.gif");
background-repeat: no-repeat;
background-position: center top;
}
.pos {
  text-align:right;
  width: 30px;
}
.raceclass {
  text-align:center;
  width: 60px;
}
.raceclass500 {
  text-align:center;
  width: 30px;
  color: #FFA500;
}
.raceclass300 {
  text-align:center;
  width: 30px;
  color: #87CEFA;
}
.no {
  text-align:right;
  width: 30px;
}
.info {
  text-align:center;
  width: 20px;
}
.driver {
  text-align:left;
  width: 180px;
}
.team {
  text-align:left;
  width: 120px;
  overflow: hidden;
}
.frame {
  text-align:left;
  width: 40px;
}
.tire {
  text-align:center;
  width: 20px;
}
.lap {
  text-align:right;
  width: 30px;
}
.pit {
  text-align:right;
  width: 30px;
}
.time {
  text-align:right;
  width: 60px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.classmenu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;;
  font-weight: 900;
}

.classmenu * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.classmenu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.classmenu a {
  padding: 0.3em 0;
  color: rgba(1, 1, 1, 0.7);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.classmenu a:before,
.classmenu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.classmenu a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.classmenu a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: rgba(1, 1, 1, 1.0);
  white-space: nowrap;
}
.classmenu li:hover a,
.classmenu .current a {
  transform: translateY(100%);
}



@keyframes s1 {
  0% { background: #f00; }
  100% { background: #111; }
}
@keyframes s2 {
  0% { background: #00f; }
  100% { background: #111; }
}
@keyframes s3 {
  0% { background: #ff0; }
  100% { background: #111; }
}
@keyframes s4 {
  0% { background: #0f0; }
  100% { background: #111; }
}
@keyframes s0 {
  0% { background: #111; }
  100% { background: #111; }
}

