body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
@font-face {
  font-family: 'Typicons';
  src: url('../fonts/typicons-regular-webfont.eot');
  src: url('../fonts/typicons-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/typicons-regular-webfont.woff') format('woff'),
    url('../fonts/typicons-regular-webfont.ttf') format('truetype'),
    url('../fonts/typicons-regular-webfont.svg#TypiconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#accordion{
  list-style: none;
  width: 250px;
  font-size: 12px;
  line-height: 1;
  background-color: #000;
  background-size: 4px 4px;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: 2px 3px 2px rgba(0,0,0,.2);
}
#accordion > li{
  padding: 0;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
#accordion li a{
  display: block;
  position:relative;
  color: #00DAA6;
  font-size: 14px;
  font-weight:bold;
  text-decoration:none;
  /*text-shadow: 0 1px 1px rgba(255,255,255,.7);*/
  padding: 15px 35px;
  border-bottom: 1px solid #888;
  border-top: 1px solid #ccc;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
  font-family: 'Saira', sans-serif;

}
#accordion > li:first-child > a{
  border-top: 0px;
}
#accordion > li a:before {
  position: absolute;
  top: 50%;
  left: 5px;
  font: 24px/100% 'Typicons';
  content: "\0023";
  color: #00DAA6;
  margin-top: -10px;
  text-shadow: 1px 1px 0px rgba(255,255,255,.7);
}
#accordion li a:hover{
  color: #fff;
  background: #00DAA6;
  border-top-color: #c7e4ee;
}
.arrow{
  position:absolute;
  top:50%;
  right: 5px;
  width: 30px;
  height: 20px;
  line-height: 1;
  text-shadow: 0 -1px 0px rgba(0,0,0,.3);
  margin-top: -10px;
  color: #00DAA6;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}
.arrow:before{
  font: 30px 'Typicons';
  content: "7";
}
#accordion li > a:hover .arrow{
  color: #2f7f99;
}

.rotate {
  color:#2f7f99;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#accordion li ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#accordion li ul li a{
  position:relative;
  background: none;
  font-size: 12px;
  font-weight:normal;
  color: #000;
  line-height: 1;
  height:40px;
  padding: 5px 0px 0px 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #888;
}
#accordion li ul li a:before {
  position: absolute;
  top: 50%;
  left:10px;
  content: "y";
  font:18px/100% 'Typicons';
  color: #00DAA6;
  margin-top: -8px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.5);
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}
#accordion li ul li:first-child a{
  border-top: 0px;
  box-shadow: 0 7px 7px -7px rgba(0,0,0,.5) inset;
}
#accordion li ul li:last-child a{
  border-bottom: 1px solid #ccc;
}
#accordion li ul li a:hover{
  color:#000;
  background: #00DAA6;
  border-top-color: #eef7fa;
}

.test {
  color:#fff;
  background: #bdbec6;
}
.sele {
  color:#fff;
  background: #00DAA6;
  border-top-color: #eef7fa;
}
.menuarea {
	position:absolute;
	left: 0px;
}
.listarea {
	font-size:11px;
	color: #fff;
	position:absolute;
	left: 252px;
        font-family: 'Saira', sans-serif;
}
.listarea a{
    color:#fff;
    font-style:normal;
    text-decoration:none;
}
.listarea a:link {
    color:#fff;
    font-style:normal;
    text-decoration:none;
}
.listarea a:visited {
    color:#fff;
    text-decoration:none;
}
.listarea a:hover {
    color:#fff;
    font-style:normal;
    text-decoration:none;
}
.listarea a:active {
    text-decoration:none;
}

.trackarea {
	position:absolute;
	left: 820px;
}


.listarea table {
	border-collapse: collapse;
	margin: 0px  0px  0px;
	font-size: 1.2em;
	table-layout: fixed;
}

.listarea thead, tbody {
    display: block;
}

.listarea tbody {
    overflow-y: auto;
    height: 1800px;
}

.listarea th {
	padding: 2px 4px;
	color: #00DAA6;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #fff;
	line-height: 1.2;
}

.listarea td {
	padding: 2px 4px;
	border-bottom: 0px solid #ccc;
    vertical-align: middle;
	white-space: nowrap;
}

.listarea td * {
}

.listarea tr.alt td {
	background: #ecf6fc;
}

.listarea tr:nth-child(even) {
    background:#000;
}
.listarea tr:nth-child(odd) {
    background:#222;
}

.personalarea {
	font-size:14px;
	color: #FFF;
}

.personalarea table {
	border-collapse: collapse;
	margin: 0px  0px  0px;
	font-size: 1.1em;
	table-layout: fixed;
        font-family: 'Saira', sans-serif;
}

.personalarea thead, tbody {
    display: block;
}

.personalarea tbody {
    overflow-y: auto;
    height: 800px;
}

.personalarea th {
	padding: 2px 4px;
	color: #00DAA6;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #fff;
	line-height: 1.2;
        font-family: 'Saira', sans-serif;
}

.personalarea td {
	padding: 2px 4px;
	border-bottom: 0px solid #ccc;
	vertical-align: top;
	white-space: nowrap;
}

.personalarea td * {
}

.personalarea tr.alt td {
	background: #ecf6fc;
}

.personalarea tr:nth-child(even) {
    background:#000;
}
.personalarea tr:nth-child(odd) {
    background:#222;
}
