body {
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 10px;
    margin-bottom: 1300px;
}

.card-body {
    padding: 2rem;
}

.logo {
    width: 200px;
    height: auto;
    margin-top: 20px;
}

.card-title {
    font-size: 1.5em;
    color: #333;
}

.btn-primary {
    background-color: #5c67f2;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #4b56d2;
}

.text-danger {
    font-size: 0.875em;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	margin: 20px;
}

p {
	font-size: 32px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 00px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

form {
	background-color: #ff000000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	right: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background: -webkit-linear-gradient(to right, rgba(52,187, 217, .8), rgba(144, 226, 245, .8));
	background: linear-gradient(to right, #000000, rgb(242 0 0));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	right: 100%; 
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	left: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

img.logo {
    width: 250px;
}
img.bg {
	min-height: 100%;
	min-width: 1200px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.9;
}


ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

.inputFields {
  margin: 15px 0 0 0;
  font-size: 12px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  outline: none;
}

.noBullet {
    margin-top: 30px;
}

#join-btn {
    border-radius: 20px;
	border: 1px solid #607d8b;
	background-color: #607d8b;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	margin-top:15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#change-btn {
    border-radius: 20px;
	border: 1px solid rgba(52,187, 217, .8);
	background-color: rgba(52,187, 217, .8);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	margin-top:15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.error-msg {
    padding: 3px 2px;
    margin: 10px 10px;
    color: blue/*#2c2c2f*/;
    background: rgba(255, 250, 205, 0.7);
    border-top: solid 0.5px red;
    border-bottom: solid 0.5px red;
}
.error-msg p {
    color: #8b0000;
    font-weight: bold;
    margin:5px 0;
}


