body {
	background: #000;
	font-family:Hiragino Kaku Gothic ProN,Meiryo,sans-serif;
	font-size:11px;
	font-weight:bold;
	position:relative;
	border:0 solid #fff;
	overflow:hidden;
	color:#fff
}
.listarea {
  width: 1024px;
}
.listtable table {
	border-collapse: separate;
        border-spacing: 0px;
        border: 0px;
	margin: 0px  0px  0px;
	font-size: 0.8em;
	table-layout: fixed;
}

.listtable th {
	background: #000;
	padding: 0px 4px;
	color: #ffa;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #ff5;
}
.listtable tr {
    height:36px;
	background: #333;
}
.listtable tr:nth-child(even) {
	background: #111;
}
.listtable td {
	padding: 0px 4px;
	vertical-align: middle;
	white-space: nowrap;
    font-weight: bold;
}


.listtable {
  table-layout: fixed;
  font-size: 12px;
  color: white;
  vertical-align: middle;
}

.lap {
  text-align:right;
  width: 30px;
}
.time {
  text-align:center;
  width: 50px;
}

.btn {
    position: relative;
    z-index: 999;
}

button.car {
  display:block;
  margin: 0 auto;
    cursor: hand;
    width: 48px;
    height: 48px;
    margin : 1px ;
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
    border-style: solid;
    border-color: #ffa500;
    background-color: #000;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
button.car2 {
  display:block;
  margin: 0 auto;
    cursor: hand;
    width: 48px;
    height: 48px;
    margin : 1px ;
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
    border-style: solid;
    border-color: #00ff00;
    background-color: #000;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
button.car:hover {
    opacity: 0.8;
}

@keyframes flashOn {
  0% { background: #0f0; }
  100% { background: #111; }
}
@keyframes flashOff {
  0% { background: #111; }
  100% { background: #111; }
}

