.ui-dialog {
  z-index: 9999 !important;
}

.ui-widget.ui-widget-content {
  border: 2px solid #990000;
}

.ui-dialog .ui-dialog-titlebar {
  padding: .1em 1em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  text-align: center;
  float: none !important;
}

#tireinfo-dialog {
  font-size: 18px;
}

#tireinfo-dialog .arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ff0000;
  position: absolute;
}

#tireinfo-dialog .borderline {
  border: solid 1px #ffffff;
  position: absolute;
}

#tireinfo-dialog div.title-label {
  margin: 10px 0px 5px 0px;
  vertical-align: middle;
}

#tireinfo-dialog label.title-label {
  font-size: 20px;
  color: #ff0000;
  margin: 4px 0px 0px 0px;
  vertical-align: middle;
}

#tireinfo-dialog input[type=checkbox] {
	width: 24px;
	height: 24px;
	-moz-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

#tireinfo-dialog table.tire-info {
  border-collapse: collapse;
  table-layout: fixed;
}
#tireinfo-dialog table.tire-info td {
  height: 40px;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

#tireinfo-dialog table.listtable {
  table-layout: fixed;
}
#tireinfo-dialog table.listtable thead {
  display: block;
}
#tireinfo-dialog table.listtable tbody {
  display: block;
  overflow-y: scroll;
  height: 260px;
}
#tireinfo-dialog table.listtable .tireinfo-laps {
  width: 50px;
  text-align: center;
}
#tireinfo-dialog table.listtable .tireinfo-historylaps {
  width: 80px;
  text-align: center;
}
#tireinfo-dialog table.listtable .tireinfo-lapstime {
  width: 100px;
  text-align: center;
}
#tireinfo-dialog table.listtable .tireinfo-pit {
  width: 30px;
  text-align: center;
}

#tireinfo-dialog .tirevalue {
  width: 120px;
  height: 30px;
  font-size: 24px;
  color: #ff0000;
  text-align: center;
  vertical-align: middle;
}

#tireinfo-dialog .serialvalue {
  width: 120px;
  height: 30px;
  font-size: 18px;
  color: #e7ecb2;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;

}
#tireinfo-dialog ::-webkit-input-placeholder {
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  color: #c0c0c0;
}

#tireinfo-dialog ::-moz-placeholder {
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  color: #c0c0c0;
  opacity: 1;
}

#tireinfo-dialog :-ms-input-placeholder {
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  color: #c0c0c0;
}

#tireinfo-dialog ::placeholder {
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  color: #c0c0c0;
}

#tireinfo-dialog .dialog-content {
  width: 100%;
  display: table;
  table-layout: fixed;
}

#tireinfo-dialog .box {
  display: table-cell;
  vertical-align: top;
  padding: 0px 10px 0px 10px;
}

#tireinfo-dialog .label {
  width: 100%;
  padding: 2px 4px;
  outline: 0;
  border: 0px;
  background: transparent;
}

#tireinfo-dialog .line {
  margin: 0px;
  padding: 0px;
  height: 2px;
  width: 2px;
  text-align: center;
}

#tireinfo-dialog-setno-input .number {
  font-size: 18px;
  width:  80px;
  height: 50px;
  opacity: 1.0;
}

#tireinfo-panel-left {
  width: 400px;
}

#tireinfo-panel-center {
  width: 600px;
  padding-right: 10px;
}

#tireinfo-panel-right {
  width: 200px;
}

#tireinfo-dialog-info-input .number {
  font-size: 18px;
  width:  80px;
  height: 50px;
}
